<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
<div class="summary">
    <p>
        To get things started let me introduce myself. <br/>
        <br/>
        I'm Azamat and am currently based in South Korea. I was born in Kazakhstan and spent whole my life there, 
        except for the last 2 years. I got interested in programming in 2012 when I was involved as a bachelor degree student in 
        International Information Technologies University in Almaty, Kazakhstan.  <br/> <br/>
        I graduated top of my year in high school, 
        which helps me to get a scholarship in university. But I got bored just studying when I was a sophomore so I started  
        to look for an internship. And it led me to a company called "Kazakhstan agency of Geoinformation 
        Systems and Remote Sensing". Following successful results, the decision was to stay there as a part-time 
        job employee. Before the end of my bachelor degree, I was offered to continue my higher 
        education at Pusan National University (PNU), South Korea.
        <br/>
        Currently, I'm studying in PNU as a master degree student, working in lab "Spatio-Temporal Databases Lab". <br/>
        At this point in my career, I have three main interests that serve as the motivation for working in IT sphere:
       
    <li>
        I've absolutely loved learning about Java, and plan to work towards greater expertise leveraging its capabilities.
    </li>
    <li>
        I'm interested in developing open source technologies. Want to share and collaborate. 
    </li>
    <li>
        And well, I guess I can say, I'm a software developer with a passion in GIS. 
    </li>
    </p>
</div><!--//summary-->
</section><!--//section-->