<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Discovering User-Context in Indoor Space by Combining Activity and Location Context</h2>
    <div class="summary">
        <h3>Abstract</h3>
        <p>
            Recently, there has been a significant progress of context awareness due to sensor and mobility technologies 
            and machine learning for their interpretation. A large part of the user’s context is determined by her/his 
            location. Since the notion of indoor location differs from the outdoor space, the context in indoor space 
            should be differently interpreted from the outdoor space. The purpose of this study is to discover user 
            context in indoor space by combining her/his activity and location context in indoor space. 
            In order to predict the profile of users, we retrieve the cell from (x,y,z) coordinates and its types 
            such as office room, meeting room, or classroom, where she/he is located, and recognize human activity 
            from smartphone sensors. An experiment was conducted to validate our method.
        </p>
    </div><!--//summary-->
    </section><!--//section-->