<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Researcher</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://stem.pusan.ac.kr" target="_blank">Spatio-Temporal Databases Lab</a>, Busan, South Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>
                        <ul>
                            <li> writing research papers, reports, reviews and summaries.</li>
                            <li> conduct searches on identified topics relevant to the research.</li>
                            <li> developing open-source GIS projects.</li>
                        </ul>
                    </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java/GIS developer</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://kagis.kz/" target="_blank">Kazakhstan Agency of GIS and RS</a>, Almaty, Kazakhstan</div>
                    </div><!--//meta-->
                    <div class="details"><p>
                        <ul>
                        <li> server-side web application logic as well as the integration of the front-end part. </li>
                        <li> design information systems and geographical portals</li>    
                        <li> geodatabase schema design and analyzing spatial data </li>
                        </ul>
                    </p>

                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
