<section class="section projects-section">
        <h2 class="section-title"><i class="fa fa-laptop"></i>Internships</h2>
        <div class="intro">
            <p></p>
        </div>
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                        <h3 class="job-title">Mango Systems</h3>
                    <div class="time"></div>
                </div>
                <div class="company">June 2018 - August 2018, Seoul, South Korea</div>
            </div>
        </div> 
        <div class="item">
                <div class="meta">
                    <div class="upper-row">
                            <h3 class="job-title">Kazakhstan Agency of Geoinformation Systems and Remote Sensing</h3>
                    </div><!--//upper-row-->
                    <div class="company">January 2015 - March 2015, Almaty, Kazakhstan</div>
                </div><!--//meta-->
            </div><!--//item-->
    </section><!--//section-->
    