<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here list of my open source projects. This projects, was developed during research projects in Pusan National University.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/bolatuly/osm_tool_demo">OSM Clipping/Replacing tool</a></span> - <span class="project-tagline">Web application program to clip a given area of OSM and replace it with better map data,
                      also handling (Geometric/Topological/Semantic Mismatches) mismatches and editing OSM data on map.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/STEMLab/frechet-processor" target="_blank">STEM Fréchet Processor</a></span> - <span class="project-tagline">Process queries to find trajectories in given Fréchet distance bounds.</span>
                </div><!--//item-->
            </section><!--//section-->
