<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-file-text-o"></i>Projects</h2>
    <div class="intro">
        <p></p>
    </div><!--//intro-->
    <div class="item">
            <span class="project-title"><b>Title: Discovering User-Context in Indoor Space</b></span><br/>
            <span class="project-tagline"><b>Authors:</b> Bolat Azamat, Kim Dongmin, Li Ki-Joune</span><br/>
           
        </div><!--//item-->
    <div class="item">
        <span class="project-title"><b>Title: GR-Media: Spatial Reference Model for Geo-Referenced Media</b></span><br/>
        <span class="project-tagline"><b>Authors:</b> Kim Taehoon, Kim Joon-Seok, Bolat Azamat, Kim Dongmin, Li Ki-Joune</span><br/>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><b>Title: Indoor Spatial Data Construction from Triangle Mesh</b></span><br/>
        <span class="project-tagline"><b>Authors: Kim Dongmin, Bolat Azamat, Li Ki-Joune</b></span><br/>
    </div><!--//item-->
    
</section><!--//section-->
