<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-file-text-o"></i>Publications</h2>
    <div class="intro">
        <p></p>
    </div><!--//intro-->
    <div class="item">
            <span class="project-title"><b>Title: Discovering User-Context in Indoor Space</b></span><br/>
            <span class="project-tagline"><b>Authors:</b> Bolat Azamat, Kim Dongmin, Li Ki-Joune</span><br/>
            <span class="project-tagline"><b>Conference:</b> Ninth ACM SIGSPATIAL International Workshop on
                    Indoor Spatial Awareness (ISA) 2018</span><br/>
            <span class="project-tagline"><b>Novemeber 06, 2018 - Seattle, Washington, USA</b></span><br/>
            <span class="project-tagline">Discover user context in indoor space by 
                combining her/his activity  and  location  context  in  indoor  space. </span>
           
        </div><!--//item-->
    <div class="item">
        <span class="project-title"><b>Title: GR-Media: Spatial Reference Model for Geo-Referenced Media</b></span><br/>
        <span class="project-tagline"><b>Authors:</b> Kim Taehoon, Kim Joon-Seok, Bolat Azamat, Kim Dongmin, Li Ki-Joune</span><br/>
        <span class="project-tagline"><b>Conference:</b> The Tenth International Conference on Creative Content Technologies (CONTENT 2018)</span><br/>
        <span class="project-tagline"><b>February 18, 2018 to February 22, 2018 - Barcelona, Spain</b></span><br/>
        <span class="project-tagline">Define a model that provides location 
            references of various media, 
            and to provide a way to connect real-world and various Geo-Referenced media types. </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><b>Title: Indoor Spatial Data Construction from Triangle Mesh</b></span><br/>
        <span class="project-tagline"><b>Authors:</b> Kim Dongmin, Bolat Azamat, Li Ki-Joune</span><br/>
        <span class="project-tagline">Propose a method for generating triangular mesh data for indoor geometric representation.</span>
        <span class="project-tagline"><b>Conference:</b> Free and Open Source Software for Geospatial (FOSS4G) 2018</span><br/>
        <span class="project-tagline"><b>August 27, 2018 to August 31, 2018 - Dar es Salaam, Tanzania</b></span><br/>
    </div><!--//item-->
    
</section><!--//section-->
